services:
  ssh-server:
    build:
      context: ..
      dockerfile: server/Dockerfile
    privileged: true
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    devices:
      - /dev/fuse:/dev/fuserver/Dockerfile
    container_name: enc_ssh_server
    ports:
      - "2222:22"
    environment:
      - ADMIN_PASSWORD=secure_admin_pass
    volumes:
      - ./ssh/authorized_keys:/home/admin/.ssh/authorized_keys
      - ./ssh/host_keys:/etc/ssh/ssh_host_keys