/* Custom Theme Overrides */
.wy-nav-content {
    max-width: 80% !important;
    /* Increase width */
}

/* Override the main theme color */
.wy-nav-top,
.wy-side-nav-search {
    background-color: #0d2d6a !important;
}

/* Links color in content */
.wy-menu-vertical a:hover {
    background-color: #0b2557 !important;
}

.wy-menu-vertical li.current a {
    border-right: solid 1px #0d2d6a !important;
}

.wy-menu-vertical li.on a,
.wy-menu-vertical li.current>a {
    color: #404040;
    padding: 0.4045em 1.618em;
    font-weight: bold;
    position: relative;
    background: #fcfcfc;
    border: none;
    border-bottom: solid 1px #c9c9c9;
    border-top: solid 1px #c9c9c9;
    padding-left: 1.618em -4px;
}

a {
    color: #0d2d6a;
}

/* Limit sidebar logo size */
.wy-side-nav-search img.logo {
    width: 60px !important;
    height: auto !important;
    margin: 0 auto;
}